<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Form.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/buttons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/loginUser.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/applied.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/company-detail.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/job-post-detail.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bootstrap-select.css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/owl-js/owl.carousel.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
    <link href="~/Content/DataTableCss/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTableCss/responsive.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTableCss/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTableCss/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    @{ 
        string companyName = string.Empty;
        string ad = string.Empty;
        string soyad = string.Empty;
        string id = string.Empty;
        if (LoginStatus.Current.isCompany)
        {
            jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
            var company = db.company.Where(x => x.companyId == LoginStatus.Current.companyId).FirstOrDefault();
            companyName = company.companyName;
        }
        if(LoginStatus.Current.UserType == 2 || LoginStatus.Current.UserType == 3)
        {
            jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
            var user = db.user_account.Where(x => x.userAccountId == LoginStatus.Current.UserId).FirstOrDefault();
            ad = user.firstName;
            soyad = user.lastName;
        }
    }
    <div class="pageWrapper">
        <div class="headerWrapper">
            <div class="header">
                <div class="header-top" style="background-color:#000036;">
                    <div class="navInf">
                        <nav class="navbar navbar-expand-md">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <div class="header-brand-logo">
                                        <a class="navbar-brand" href="/">
                                            <img src="~/Content/Images/logo1.png" />
                                        </a>
                                    </div>

                                </div>
                                @if (LoginStatus.Current.isCompany == true && LoginStatus.Current.IsLogin == true)
                                {
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="nav-item navLink">@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                                            <li class="nav-item navLink"><a href="/is-ilanlari" target="_blank">İş İlanları</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="nav-item  navLink">
                                                <a href="/ilanlarim">
                                                    İlanlarım
                                                </a>
                                            </li>
                                            <li class="nav-item navLink">
                                                <a href="/ilan-ekle">
                                                    İlan Ekle
                                                </a>
                                            </li>
                                            <li class=" dropdown navLink">
                                                <a class="dropdown-toggle navLink" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Kişi Arama <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class=" dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="/akademisyen-arama">Akademisyen</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="/eleman-arama/ogrenci">Öğrenci</a>
                                                </div>
                                            </li>
                                            <li class=" dropdown navLink">
                                                <a class="dropdown-toggle navLink" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @companyName <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class=" dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="/profili-duzenle">Profil Düzenle</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="javascript:GoOut('@jobFinding_Akdeniz.MvcApplication.FilePath')">Çıkış Yap</a>

                                                </div>
                                            </li>
                                        </ul>
                                        <script>
                                            function GoOut(url) {
                                                $.getJSON(url + "/Login/Logout", null, function (data) {
                                                    window.location.reload();
                                                    window.location = url + "/Home/Index";
                                                    window.location.reload();
                                                });
                                            }
                                        </script>
                                    </div><!-- /.navbar-collapse -->
                                }
                                @if (LoginStatus.Current.UserType == 2 && LoginStatus.Current.IsLogin == true)
                                {
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="nav-item navLink">@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                                            <li class="nav-item navLink"><a href="/is-ilanlari" target="_blank">İş İlanları</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="nav-item  navLink">
                                                <a href="/ozgecmis-bilgileri">
                                                    Özgeçmişim
                                                </a>
                                            </li>
                                            <li class="nav-item  navLink">
                                                <a href="/basvurular">
                                                    Başvurularım
                                                </a>
                                            </li>
                                            <li class=" dropdown navLink">
                                                <a class="dropdown-toggle navLink" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @ad  @soyad <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class=" dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="/profil-duzenle">Profil Düzenle</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="javascript:GoOut('@jobFinding_Akdeniz.MvcApplication.FilePath')">Çıkış Yap</a>

                                                </div>
                                            </li>
                                        </ul>
                                        <script>
                                            function GoOut(url) {
                                                $.getJSON(url + "/Login/Logout", null, function (data) {
                                                    window.location.reload();
                                                    window.location = url + "/Home/Index";
                                                    window.location.reload();
                                                });
                                            }
                                        </script>
                                    </div><!-- /.navbar-collapse -->
                                }
                                @if (LoginStatus.Current.UserType == 3 && LoginStatus.Current.IsLogin == true)
                                {
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="nav-item navLink">@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                                            <li class="nav-item navLink"><a href="/is-ilanlari" target="_blank">İş İlanları</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="nav-item  navLink">
                                                <a href="/ozgecmis-bilgilerim">
                                                    Özgeçmişim
                                                </a>
                                            </li>
                                            <li class="nav-item  navLink">
                                                <a href="/basvurularim">
                                                    Başvurularım
                                                </a>
                                            </li>
                                            <li class=" dropdown navLink">
                                                <a class="dropdown-toggle navLink" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    @ad  @soyad <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class=" dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <a class="dropdown-item" href="/profil-ayarları">Profil Düzenle</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="javascript:GoOut('@jobFinding_Akdeniz.MvcApplication.FilePath')">Çıkış Yap</a>

                                                </div>
                                            </li>
                                        </ul>
                                        <script>
                                            function GoOut(url) {
                                                $.getJSON(url + "/Login/Logout", null, function (data) {
                                                    window.location.reload();
                                                    window.location = url + "/Home/Index";
                                                    window.location.reload();
                                                });
                                            }
                                        </script>
                                    </div><!-- /.navbar-collapse -->
                                }
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                @if (LoginStatus.Current.IsLogin != true)
                                {

                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="nav-item navLink">@Html.ActionLink("Anasayfa", "Index", "Home")</li>
                                            <li class="nav-item navLink"><a href="/is-ilanlari" target="_blank">İş İlanları</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class=" dropdown navLink">
                                                <a class="dropdown-toggle navLink" href="#" id="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Akademisyen <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                                    <a class="dropdown-item" href="/akademisyen-kayit">Akademisyen Kayıt</a>
                                                    <a class="dropdown-item" href="/akademisyen-giris">Akademisyen Girişi</a>

                                                </div>
                                            </li>
                                            <li class="nav-item dropdown navLink">
                                                <a class=" dropdown-toggle navLink" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    İşveren <i class="fas fa-angle-down"></i>
                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                                    <a class="dropdown-item" href="/sirket-kayit">İşveren Kayıt</a>
                                                    <a class="dropdown-item" href="/isveren-giris">İşveren Girişi</a>

                                                </div>
                                            </li>
                                            <li class=" dropdown navLink">
                                                <a class="dropdown-toggle navLink" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Öğrenci <i class="fas fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                                    <a class="dropdown-item" href="/ogrenci-kayit">Öğrenci Kayıt</a>
                                                    <a class="dropdown-item" href="/ogrenci-giris">Öğrenci Girişi</a>

                                                </div>
                                            </li>

                                        </ul>

                                    </div><!-- /.navbar-collapse -->
                                }
                            </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="mainWrapper">
            @RenderBody()
            <hr />
        </div>
        <div class="footerWrapper">
            <footer>
                <!--  <footer> -->
                <div class="footer-all">
                    <div class="col-lg-12 col-sm-12 footer-down">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 footer-link">
                                    <span style="color:white;">&copy;</span> <a href="http://muhendislik.akdeniz.edu.tr/" target="_blank" style="color: white">
                                        Akdeniz Üniversitesi Mühendislik Fakültesi için hazırlanmıştır.
                                    </a>
                                </div>
                                <div class="col-md-2">
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script src="~/Scripts/moment-with-locales.js"></script>
        <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
        @*<script src="~/Scripts/bootstrap.bundle.min.js"></script>*@
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/all.min.js"></script>
    </div>
</body>
</html>