
@{
    ViewBag.Title = "Öğrenci Kayıt";
    Layout = "~/Views/Shared/_Layout.cshtml";
    jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
    var universities = db.universities.ToList();
    var departments = db.departments.ToList();
}
@model jobFinding_Akdeniz.Models.HelperModels.StudentRegisterModel
<div class="user-login">
    <div class="container">
        <div class="cd-form">
            <h2>Kullanıcı Bilgileri</h2>
            <label class="small">* ile işaretli alanlar zorunludur.</label>
            <div class="form-group text-danger small">
                @ViewBag.Warning
            </div>
            <div class="form-group text-success small">
                @ViewBag.Success
            </div>
        </div>
        @using (Html.BeginForm("OgrenciKayit", "Register", FormMethod.Post, new { name = "studentRegister" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group cd-form">
                <label class="form-group">*Adınız:</label>
                @Html.TextBoxFor(x => x.firstName, new { @class = "form-control", placeholder = "Adınız", required = "required" })
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.firstName)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Soyadınız:</label>
                @Html.TextBoxFor(x => x.lastName, new { @class = "form-control", placeholder = "Soyadınız", required = "required" })
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.lastName)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*E-mail:</label>
                @Html.TextBoxFor(x => x.userEmail, new { @class = "form-control", placeholder = "E-mail", required = "required" })
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.userEmail)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Parola:</label>
                @Html.TextBoxFor(x => x.password, new { @class = "form-control py-4 pwd", placeholder = "Parolanızı Giriniz" })
                <span style="float: right;margin-left: -25px;margin-top: -35px;position: relative;z-index: 2;margin-right: 5px;">
                    <button class="btn btn-default toggle-password" type="button">
                        <i class="fas fa-eye eye"></i>
                    </button>
                </span>
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.password)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Parola Onay:</label>
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control py-4 pwd2", placeholder = "Parolanızı Giriniz"})
                <span style="float: right;margin-left: -25px;margin-top: -35px;position: relative;z-index: 2;margin-right: 5px;">
                    <button class="btn btn-default toggle-password2" type="button">
                        <i class="fas fa-eye eye"></i>
                    </button>
                </span>
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <div class="cd-form">
                <h2>Eğitim Bilgileri</h2>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Öğrenci/Mezun Durumu:</label>
                <select class="form-control" name="statusStd" required>
                    <option class="text-muted" disabled selected>Öğrenci/Mezun Durumu Seçiniz:</option>
                    <option value="ÖĞRENCİ">ÖĞRENCİ</option>
                    <option value="MEZUN">MEZUN</option>

                </select>
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.statusStd)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Eğitim Türü:</label>
                <select class="form-control" name="degreeName" required>
                    <option class="text-muted" disabled selected>Eğitim Türü Seçiniz:</option>
                    <option value="Ön Lisans">Ön Lisans</option>
                    <option value="Lisans">Lisans</option>
                    <option value="Yüksek Lisans">Yüksek Lisans</option>
                    <option value="Doktora">Doktora</option>
                </select>
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.degreeName)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Üniversite:</label>
                <select class="form-control" name="universityName" required>
                    <option class="text-muted" disabled selected>Üniversite Seçiniz:</option>
                    @foreach (var item in universities)
                    {
                        <option value="@item.universityName">@item.universityName</option>
                    }
                </select>
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.universityName)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Bölüm:</label>
                <select class="form-control" name="department" required>
                    <option class="text-muted" disabled selected>Bölüm Seçiniz:</option>
                    @foreach (var item in departments)
                    {
                        <option value="@item.departmentName">@item.departmentName</option>
                    }
                </select>
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.department)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">*Başlangıç Yılı:</label>
                @Html.TextBoxFor(x => x.startingDate, new { @class = "form-control", placeholder = "Başlangıç Yılı", required = "required", onkeypress = "return event.charCode >= 48 && event.charCode <= 57", maxlength = "4", max = DateTime.Now.Year })
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.startingDate)
                </div>
            </div>
            <hr />
            <label class="form-group small">*Hala devam ediyorsanız boş bırakınız.</label>
            <div class="form-group cd-form">
                <label class="form-group">Bitiş Yılı:</label>
                @Html.TextBoxFor(x => x.endingDate, new { @class = "form-control", placeholder = "Bitiş Yılı", onkeypress = "return event.charCode >= 48 && event.charCode <= 57", maxlength = "4", min = DateTime.Now.Year })
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.endingDate)
                </div>
            </div>

            <div class="form-group cd-form">
                <label class="form-group">Gano(100'lük Sistem):</label>
                @Html.TextBoxFor(x => x.GANOINT, new { @class = "form-control", placeholder = "GANO(75)"})
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.GANOINT)
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">Gano(4'lük Sistem):</label>
                <input name="GANO" pattern="^\-?\d+((\.|\,)\d+)?$" class="form-control" placeholder="GANO" />
                <div class="form-group text-danger small">
                    @Html.ValidationMessageFor(m => m.GANO)
                </div>
            </div>
            <div class="form-group cd-form">
                <input type="submit" value="Kayıt Ol" class="form-control" />
            </div>
        }
        <div class="form-group cd-form">
            <a href="">Giriş Yapın</a>
        </div>

    </div>
</div>

<script>
    $(window).on('load', function () {
        var input = $('.pwd');
        var input2 = $('.pwd2');
        input.attr("type", "password");
        input2.attr("type", "password");
    });
    $(".toggle-password").click(function () {
        var input = $('.pwd');
        if (input.attr("type") == "password") {
            $('.eye').removeClass("fa-eye");
            $('.eye').addClass("fa-eye-slash");
            input.attr("type", "text");
        } else {
            $('.eye').removeClass("fa-eye-slash");
            $('.eye').addClass("fa-eye");
            input.attr("type", "password");
        }
    });
    $(".toggle-password2").click(function () {
        var input = $('.pwd2');
        if (input.attr("type") == "password") {
            $('.eye2').removeClass("fa-eye");
            $('.eye2').addClass("fa-eye-slash");
            input.attr("type", "text");
        } else {
            $('.eye2').removeClass("fa-eye-slash");
            $('.eye2').addClass("fa-eye");
            input.attr("type", "password");
        }
    });
    $(document).on('keydown', 'input[pattern]', function (e) {
        var input = $(this);
        var oldVal = input.val();
        var regex = new RegExp(input.attr('pattern'), 'g');

        setTimeout(function () {
            var newVal = input.val();
            if (!regex.test(newVal) || newVal > 4.00) {
                input.val(oldVal);
            }
        }, 0);
    });
</script>
