
@{
    ViewBag.Title = "Özgeçmiş Bilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
    jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
    var universities = db.universities.ToList();
    var departments = db.departments.ToList();
    var languages = db.languages.ToList();
}
@model jobFinding_Akdeniz.Models.user_account
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 cd-form"><h2>Özgeçmiş Bilgileri</h2></div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div id="list-example" class="list-group">
                    <a class="list-group-item list-group-item-action" href="#educationInfos">Eğitim Bilgileri</a>
                    <a class="list-group-item list-group-item-action" href="#experience">İş Deneyimleri</a>
                    <a class="list-group-item list-group-item-action" href="#languageInfo">Yabancı Dil</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                    <div class="educationInfo cd-form" id="educationInfos">
                        <h4 id="list-item-1">Eğitim Bilgileri</h4>
                        <div class="panel-group">
                            @foreach (var education in Model.user_education.ToList())
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#education_@education.educationId"><i class="fas fa-check-circle"></i> @education.degreeName</a>
                                        </h4>
                                    </div>
                                    <div id="education_@education.educationId" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="text-danger small">
                                                <div class="col-lg-12">
                                                    @ViewBag.Warning
                                                </div>
                                            </div>
                                            <div class="text-success small">
                                                <div class="col-lg-12">
                                                    @ViewBag.Success
                                                </div>
                                            </div>
                                            @using (Html.BeginForm("EditEducation", "Teacher", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" value="@education.educationId" name="educationId" />
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Eğitim Türü</h5></label>
                                                        <select class="form-control" name="degreeName" id="educationType_@education.educationId" required>
                                                            <option class="text-muted" disabled>Eğitim Türü Seçiniz:</option>
                                                            <option value="Ön Lisans" @if ("Ön Lisans" == @education.degreeName) { <text> selected="selected" </text> }>
                                                                Ön Lisans
                                                            </option>
                                                            <option value="Lisans" @if ("Lisans" == @education.degreeName) { <text> selected="selected" </text> }>
                                                                Lisans
                                                            </option>
                                                            <option value="Yüksek Lisans" @if ("Yüksek Lisans" == @education.degreeName) { <text> selected="selected" </text> }>
                                                                Yüksek Lisans
                                                            </option>
                                                            <option value="Doktora" @if ("Doktora" == @education.degreeName) { <text> selected="selected" </text> }>
                                                                Doktora
                                                            </option>
                                                        </select>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Üniversite</h5></label>
                                                        <select class="form-control" name="universityName" required>
                                                            <option class="text-muted" disabled>Üniversite Seçiniz:</option>
                                                            @foreach (var item in universities)
                                                            {
                                                                <option value="@item.universityName" @if (item.universityName == @education.universityName) { <text> selected="selected" </text> }>
                                                                    @item.universityName
                                                                </option>
                                                            }
                                                        </select>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Bölüm</h5></label>
                                                        <select class="form-control" name="department" required>
                                                            <option class="text-muted" disabled>Bölüm Seçiniz:</option>
                                                            @foreach (var item in departments)
                                                            {
                                                                <option value="@item.departmentName" @if (item.departmentName == @education.department) { <text> selected="selected" </text> }>
                                                                    @item.departmentName
                                                                </option>
                                                            }
                                                        </select>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Başlangıç Yılı</h5></label>
                                                        <input type="text" class="form-control" value=@education.startingDate onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="4" max=@DateTime.Now.Year name="startingDate" required>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Bitiş Yılı</h5></label>
                                                        <input type="text" class="form-control" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="4" max=@DateTime.Now.Year name="endingDate" value=@education.endingDate>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>GANO(100'lük Sistem)</h5></label>
                                                        <input type="text" class="form-control" value=@education.GANOINT onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="3" name="GANOINT">
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div><div class="form-group text-danger small">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-8">
                                                        <label><h5>GANO(4'lük Sistem)</h5></label>
                                                        <input name="GANO" pattern="^\-?\d+((\.|\,)\d+)?$" class="form-control" value=@education.GANO />
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-6 col-xs-6">
                                                            <a class="open-deleteEducation btn btn-danger" data-id="@education.educationId"><i class="fas fa-trash"></i> Sil</a>
                                                        </div>
                                                        <div class="col-lg-6 col-xs-6">
                                                            <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Kaydet</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            }
                                        </div>
                                        <div class="panel-footer"></div>
                                    </div>
                                </div>
                            }
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#newEducation"><i class="fas fa-plus-circle"></i> Yeni Eğitim Bilgisi Ekle</a>
                                    </h4>
                                </div>
                                <div id="newEducation" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="text-danger small">
                                            <div class="col-lg-12">
                                                @ViewBag.Warning
                                            </div>
                                        </div>
                                        <div class="text-success small">
                                            <div class="col-lg-12">
                                                @ViewBag.Success
                                            </div>
                                        </div>
                                        @using (Html.BeginForm("AddEducation", "Teacher", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Eğitim Türü</h5></label>
                                                    <select class="form-control" name="degreeName" required>
                                                        <option class="text-muted" disabled selected>Eğitim Türü Seçiniz:</option>
                                                        <option value="ÖnLisans">Ön Lisans</option>
                                                        <option value="Lisans">Lisans</option>
                                                        <option value="YüksekLisans">Yüksek Lisans</option>
                                                        <option value="Doktora">Doktora</option>
                                                    </select>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Üniversite</h5></label>
                                                    <select class="form-control" name="universityName" required>
                                                        <option class="text-muted" disabled selected>Üniversite Seçiniz:</option>
                                                        @foreach (var item in universities)
                                                        {
                                                            <option value="@item.universityName">@item.universityName</option>
                                                        }
                                                    </select>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Bölüm</h5></label>
                                                    <select class="form-control" name="department" required>
                                                        <option class="text-muted" disabled selected>Bölüm Seçiniz:</option>
                                                        @foreach (var item in departments)
                                                        {
                                                            <option value="@item.departmentName">@item.departmentName</option>
                                                        }
                                                    </select>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Başlangıç Yılı</h5></label>
                                                    <input type="text" class="form-control" name="startingDate" placeholder="Başlangıç Yılı" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="4" max=@DateTime.Now.Year required>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Bitiş Yılı</h5></label>
                                                    <input type="text" class="form-control" name="endingDate" placeholder="Bitiş Yılı" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="4" max=@DateTime.Now.Year>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>GANO(100'lük Sistem)</h5></label>
                                                    <input type="text" class="form-control" name="GANOINT" placeholder="GANO" onkeypress="return event.charCode >= 48 && event.charCode <= 57" maxlength="3">
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>GANO(4'lük Sistem)</h5></label>
                                                    <input name="GANO" pattern="^\-?\d+((\.|\,)\d+)?$" class="form-control" />
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12 col-xs-6">
                                                        <button class="btn" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Kaydet</button>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="experienceInfo cd-form" id="experience">
                        <h4 id="list-item-1">İş Deneyimleri</h4>
                        <div class="panel-group">
                            @foreach (var experience in Model.user_experinence_detail.ToList())
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#experience_@experience.experienceId"><i class="fas fa-check-circle"></i> @experience.companyName</a>
                                        </h4>
                                    </div>
                                    <div id="experience_@experience.experienceId" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="text-danger small">
                                                <div class="col-lg-12">
                                                    @ViewBag.Warning
                                                </div>
                                            </div>
                                            <div class="text-success small">
                                                <div class="col-lg-12">
                                                    @ViewBag.Success
                                                </div>
                                            </div>
                                            @using (Html.BeginForm("EditExperience", "Teacher", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" value="@experience.experienceId" name="experienceId" />
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Şirket Adı</h5></label>
                                                        <input type="text" name="companyName" class="form-control" value="@experience.companyName" />
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Pozisyon</h5></label>
                                                        <input type="text" name="jobTitle" class="form-control" value="@experience.jobTitle" />
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Başlama Tarihi</h5></label>
                                                        <div class="controls" style="position: relative">
                                                            <input type="text" class="form-control" id="datetimepicker_@experience.experienceId" value="@experience.startDate" name="startDate" />
                                                        </div>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Bitiş Tarihi</h5></label>
                                                        <div class="controls" style="position: relative">
                                                            <input type="text" class="form-control" id="datetimepicker-@experience.experienceId" value="@experience.endDate" name="endDate" />
                                                        </div>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-8">
                                                        <label><h5>Açıklama</h5></label>
                                                        <textarea class="form-control" placeholder="Açıklama" name="description">@experience.description</textarea>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-6 col-xs-6">
                                                            <a class="open-deleteExperience btn btn-danger" data-id="@experience.experienceId"><i class="fas fa-trash"></i> Sil</a>
                                                        </div>
                                                        <div class="col-lg-6 col-xs-6">
                                                            <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Kaydet</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                    $(function () {
                                                        $('#datetimepicker_@experience.experienceId').datetimepicker({
                                                            viewMode: 'days',
                                                            format: 'DD/MM/YYYY',
                                                            locale: 'tr',
                                                            //minDate: moment()
                                                        });
                                                    });
                                                    $(function () {
                                                        $('#datetimepicker-@experience.experienceId').datetimepicker({
                                                            viewMode: 'days',
                                                            format: 'DD/MM/YYYY',
                                                            locale: 'tr',
                                                            minDate: moment()
                                                        });
                                                    });
                                                </script>

                                            }
                                        </div>
                                        <div class="panel-footer"></div>
                                    </div>
                                </div>
                            }
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#newExperience"><i class="fas fa-plus-circle"></i> Yeni Deneyim Ekle</a>
                                    </h4>
                                </div>
                                <div id="newExperience" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="text-danger small">
                                            <div class="col-lg-12">
                                                @ViewBag.Warning
                                            </div>
                                        </div>
                                        <div class="text-success small">
                                            <div class="col-lg-12">
                                                @ViewBag.Success
                                            </div>
                                        </div>
                                        @using (Html.BeginForm("AddExperience", "Teacher", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(x => x.userAccountId)
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Şirket Adı</h5></label>
                                                    <input type="text" name="companyName" class="form-control" required />
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Pozisyon</h5></label>
                                                    <input type="text" name="jobTitle" class="form-control" required />
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Başlama Tarihi</h5></label>
                                                    <div class="controls" style="position: relative">
                                                        <input type="text" class="form-control" id="datetimepicker4" required />
                                                    </div>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Bitiş Tarihi</h5></label>
                                                    <div class="controls" style="position: relative">
                                                        <input type="text" class="form-control" id="datetimepicker5" />
                                                    </div>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Açıklama</h5></label>
                                                    <textarea class="form-control" placeholder="Açıklama"></textarea>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-12 col-xs-6">
                                                        <button class="btn" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Kaydet</button>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="educationInfo cd-form" id="languageInfo">
                        <h4 id="list-item-1">Yabancı Dil</h4>
                        <div class="panel-group">
                            @foreach (var language in Model.user_language_skill.ToList())
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#language_@language.skillId"><i class="fas fa-check-circle"></i> @language.languages.languageName</a>
                                        </h4>
                                    </div>
                                    <div id="language_@language.skillId" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="text-danger small">
                                                <div class="col-lg-12">
                                                    @ViewBag.Warning
                                                </div>
                                            </div>
                                            <div class="text-success small">
                                                <div class="col-lg-12">
                                                    @ViewBag.Success
                                                </div>
                                            </div>
                                            @using (Html.BeginForm("EditLanguage", "Teacher", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" value="@language.skillId" name="skillId" />
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Dil</h5></label>
                                                        <select class="form-control" name="languageID" required>
                                                            <option class="text-muted" disabled>Dil Seçiniz:</option>
                                                            @foreach (var item in languages)
                                                            {
                                                                <option value="@item.languageId" @if (item.languageId == language.languageID) { <text> selected="selected" </text> }>@item.languageName</option>
                                                            }
                                                        </select>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group cd-form">
                                                    <div class="col-lg-6">
                                                        <label><h5>Seviye</h5></label>
                                                        <select class="form-control" name="level" required>
                                                            <option class="text-muted" disabled>Seviye Seçiniz:</option>
                                                            <option value="1" @if ("1" == language.level) { <text> selected="selected" </text> }>1</option>
                                                            <option value="2" @if ("2" == language.level) { <text> selected="selected" </text> }>2</option>
                                                            <option value="3" @if ("3" == language.level) { <text> selected="selected" </text> }>3</option>
                                                            <option value="4" @if ("4" == language.level) { <text> selected="selected" </text> }>4</option>
                                                            <option value="5" @if ("5" == language.level) { <text> selected="selected" </text> }>5</option>

                                                        </select>
                                                        <div class="form-group error">
                                                            <div class="col-lg-6">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-6 col-xs-6">
                                                            <a class="open-deleteLanguage btn btn-danger" data-id="@language.skillId"><i class="fas fa-trash"></i> Sil</a>
                                                        </div>
                                                        <div class="col-lg-6 col-xs-6">
                                                            <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Kaydet</button>
                                                        </div>
                                                    </div>
                                                </div>


                                            }
                                        </div>
                                        <div class="panel-footer"></div>
                                    </div>
                                </div>
                            }
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#newLanguage"><i class="fas fa-plus-circle"></i> Yeni Dil Ekle</a>
                                    </h4>
                                </div>
                                <div id="newLanguage" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="text-danger small">
                                            <div class="col-lg-12">
                                                @ViewBag.Warning
                                            </div>
                                        </div>
                                        <div class="text-success small">
                                            <div class="col-lg-12">
                                                @ViewBag.Success
                                            </div>
                                        </div>
                                        @using (Html.BeginForm("AddLanguage", "Teacher", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Dil</h5></label>
                                                    <select class="form-control" name="languageID" required>
                                                        <option class="text-muted" disabled selected>Dil Seçiniz:</option>
                                                        @foreach (var item in languages)
                                                        {
                                                            <option value="@item.languageId">@item.languageName</option>
                                                        }
                                                    </select>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group cd-form">
                                                <div class="col-lg-6">
                                                    <label><h5>Seviye</h5></label>
                                                    <select class="form-control" name="level" required>
                                                        <option class="text-muted" disabled selected>Seviye Seçiniz:</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>

                                                    </select>
                                                    <div class="form-group error">
                                                        <div class="col-lg-6">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <div class="col-lg-4 col-xs-6">
                                                        <button class="btn" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Kaydet</button>
                                                    </div>
                                                </div>
                                            </div>


                                        }
                                    </div>
                                    <div class="panel-footer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteExperience" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h class="modal-title text-muted">Deneyim Bilgisi Silme</h>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form>
                <div class="form-group m-3">
                    <label>Bu bilgiyi özgeçmişinizden silmek istediğinize emin misiniz? </label>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" onclick="deleteExperience()">
                    <i class="fas fa-trash"></i> Sil
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div><div class="modal fade" id="deleteEducation" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h class="modal-title text-muted">Eğitim Bilgisi Silme</h>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form>
                <div class="form-group m-3">
                    <label>Bu bilgiyi özgeçmişinizden silmek istediğinize emin misiniz? </label>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" onclick="deleteEducation()">
                    <i class="fas fa-trash"></i> Sil
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteLanguage" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h class="modal-title text-muted">Dil Bilgisi Silme</h>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form>
                <div class="form-group m-3">
                    <label>Bu bilgiyi özgeçmişinizden silmek istediğinize emin misiniz? </label>
                </div>
            </form>
            <div class="modal-footer">
                <button class="btn btn-danger btn-sm" onclick="deleteLanguage()">
                    <i class="fas fa-trash"></i> Sil
                </button>
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on("click", ".open-deleteLanguage", function () {
        id = $(this).data('id');
        $('#deleteLanguage').modal('show');
    });
    $(document).on("click", ".open-deleteExperience", function () {
        id = $(this).data('id');
        $('#deleteExperience').modal('show');
    });
    $(document).on("click", ".open-deleteEducation", function () {
        id = $(this).data('id');
        $('#deleteEducation').modal('show');
    });
    var id = ""
    function deleteLanguage() {
        console.log(id);
        $.ajax({
            type: "POST",
            url: "/Teacher/DeleteLanguage/" + id,
            data: JSON.stringify(id),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        }).then(function () {
            location.reload(true);
            $("#deactivateModal").modal('hide');
        });
    }
    function deleteExperience() {
        console.log(id);
        $.ajax({
            type: "POST",
            url: "/Teacher/DeleteExperience/" + id,
            data: JSON.stringify(id),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        }).then(function () {
            location.reload(true);
            $("#deleteExperience").modal('hide');
        });
    }
    function deleteEducation() {
        console.log(id);
        $.ajax({
            type: "POST",
            url: "/Teacher/DeleteEducation/" + id,
            data: JSON.stringify(id),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        }).then(function () {
            location.reload(true);
            $("#deleteEducation").modal('hide');
        });
    }

</script>
<script>
    $('body').scrollspy({ target: '#list-example' })
    $(document).on('keydown', 'input[pattern]', function (e) {
        var input = $(this);
        var oldVal = input.val();
        var regex = new RegExp(input.attr('pattern'), 'g');

        setTimeout(function () {
            var newVal = input.val();
            if (!regex.test(newVal) || newVal > 4, 00) {
                input.val(oldVal);
            }
        }, 0);
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            viewMode: 'days',
            format: 'DD/MM/YYYY',
            locale: 'tr',
            //minDate: moment()
        });
    });
    $(function () {
        $('#datetimepicker5').datetimepicker({
            viewMode: 'days',
            format: 'DD/MM/YYYY',
            locale: 'tr',
            minDate: moment()
        });
    });
</script>