
@{
    ViewBag.Title = "İş İlanları";
    Layout = "~/Views/Shared/_Layout.cshtml";
    jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
    var stream = db.business_stream.ToList();
    var bDepartment = db.business_departments.ToList();
    var cities = db.countries.ToList();
    var jobType = db.job_type.ToList();

}
@model PagedList.IPagedList<jobFinding_Akdeniz.Models.job_post>
@using PagedList.Mvc;
@using PagedList;
<section>
    <div class="container tb-padding">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="container">
                    <div class="searchForm">
                        @using (Html.BeginForm("Index", "JobPosts", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group cd-form">
                                <label class="form-group"><h5>Şehir</h5> </label>
                                <select class="form-control" name="city">
                                    <option class="text-muted" disabled selected>Şehir Seçiniz</option>
                                    @foreach (var item in cities)
                                    {
                                        <option value="@item.countryId" @if (item.countryId.ToString() == ViewBag.city) { <text> selected="selected" </text> }>@item.countryName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group cd-form">
                                <label class="form-group"><h5>Sektör</h5> </label>
                                <select class="form-control" name="department">
                                    <option class="text-muted" disabled selected>Sektör Seçiniz</option>
                                    @foreach (var item in stream)
                                    {
                                        <option value="@item.businessId" @if (item.businessId.ToString() == ViewBag.department) { <text> selected="selected" </text> }>@item.businessName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group cd-form">
                                <label class="form-group"><h5>Departman</h5> </label>
                                <select class="form-control" name="bDepartment">
                                    <option class="text-muted" disabled selected>Departman Seçiniz</option>
                                    @foreach (var item in bDepartment)
                                    {
                                        <option value="@item.businessDepId" @if (item.businessDepId.ToString() == ViewBag.bDepartment) { <text> selected="selected" </text> }>@item.businessDepName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group cd-form">
                                <label class="form-group"><h5>Çalışma Şekli</h5> </label>
                                <select class="form-control" name="jobType">
                                    <option class="text-muted" disabled selected>Çalışma Şekli Seçiniz</option>
                                    @foreach (var item in jobType)
                                    {
                                        <option value="@item.jobTypeId" @if (item.jobTypeId.ToString() == ViewBag.jobType) { <text> selected="selected" </text> }>@item.jobTypeName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group text-danger small">
                                @ViewBag.Warning
                            </div>
                            <div class="form-group cd-form">
                                <input type="submit" value="Filtrele" class="btn_orange medium customs-margin" />
                            </div>
                        }
                    </div>

                </div>
            </div>


            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-sm-10 cd-form"><h2>İlanlar(<span>@ViewBag.Count</span>)</h2></div>
                    <div class="col-sm-2"></div>
                </div>
                @if (Model.Count !=0)
                {
                    foreach (var item in Model)
                    {
                        <div class="row small-padding-bg">
                            <a href="/ilan-detaylari/@item.jobPostId" target="_blank">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                                    @if (@item.company.companyLogoID == null)
                                    {
                                        <div class="image-size2"><img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" /></div>
                                    }
                                    else
                                    {
                                        <div class="image-size2"><img src="data:image/jpg;base64,@Convert.ToBase64String(@item.company.company_logo.companyLogo)" /></div>
                                    }
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 customs-p">
                                    <h4>@item.jobPostTitle</h4>
                                    <p><span><i class="fas fa-building"></i></span>@item.company.companyName</p>
                                    <p><span><i class="fas fa-clock"></i></span>@item.postEndedDay.Value.ToShortDateString()</p>
                                    <p><span><i class="fas fa-map-marker-alt"></i></span>@item.job_location.city</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <a href="ilan-detaylari/@item.jobPostId" class="btn_orange medium customs-margin">İlana Git</a>
                                </div>
                            </a>
                        </div>
                    }
                        <div class="text-center">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { searchSt = ViewBag.searchSt, city = ViewBag.city, department = ViewBag.department, bDepartment = ViewBag.bDepartment, jobType = ViewBag.jobType, page = page }))
                        </div>
                }
                else
                {
                    <div class="alert alert-danger mt-5" role="alert">
                        Aradığınız kriterlere uygun ilan bulunamadı.  
                    </div>
                }
            </div>
        </div>
    </div>
</section>


