
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="user-login">
    <div class="container">
        <div class="cd-form">
            <h2>Şifremi Unuttum</h2>
            <label class="small">*Email adresinize gelecek olan link ile parolanızı değiştirebilirsiniz.</label>
            <div class="form-group text-danger small">
                @ViewBag.Warning
            </div>
            <div class="form-group text-success small">
                @ViewBag.Success
            </div>
        </div>
        @using (Html.BeginForm("ForgetPasswordUser", "ForgetPassword", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @model jobFinding_Akdeniz.Models.user_account
            <div class="form-group cd-form">
                <label class="form-group">E-mail:</label>
                @Html.TextBoxFor(x => x.userEmail, new { @class = "form-control", placeholder = "E-mail" })
            </div>
            <span style="color:red">
                @ViewBag.Warning
            </span>
            <div class="form-group cd-form">
                <input type="submit" value="Gönder" class="form-control uni-button-orange" />
            </div>
        }
    </div>
</div>

