
@{
    ViewBag.Title = "Parola Sıfırla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model jobFinding_Akdeniz.Models.HelperModels.resetPassword
<div class="user-login">
    <div class="container">
        <div class="cd-form">
            <h2>Şifre Sıfırlama</h2>
            <div class="form-group text-danger small">
                @ViewBag.Warning
            </div>
            <div class="form-group text-success small">
                @ViewBag.Success
            </div>
        </div>
        @using (Html.BeginForm("ResetPasswordUser", "ForgetPassword", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(a => a.ResetCode)
            <div class="form-group cd-form">
                <label class="form-group">Yeni Parola:</label>
                @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control py-4 pwd", id = "inputPassword", placeholder = "Parolanızı Giriniz", type = "password", required = "required" })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                <span style="float: right;margin-left: -25px;margin-top: -35px;position: relative;z-index: 2;margin-right: 5px;">
                    <button class="toggle-password btn btn-default " type="button">
                        <i class="fas fa-eye eye"></i>
                    </button>
                </span>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">Parola Onay:</label>
                @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control py-4 pwd", id = "inputPassword", placeholder = "Parolanızı Giriniz", type = "password", required = "required" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                <span style="float: right;margin-left: -25px;margin-top: -35px;position: relative;z-index: 2;margin-right: 5px;">
                    <button class="toggle-password btn btn-default " type="button">
                        <i class="fas fa-eye eye"></i>
                    </button>
                </span>
            </div>
            <div class="form-group cd-form">
                @*<input type="checkbox" class="" />
                <span class="">Beni Hatırla</span>*@
            </div>
            <span style="color:red">
                @ViewBag.Warning
            </span>
            <div class="form-group cd-form">
                <input type="submit" value="Sıfırla" class="form-control" />
            </div>
        }
    </div>
</div>
<script>

        $(".toggle-password").click(function () {
            var input = $('.pwd');
            if (input.attr("type") == "password") {
                $('.eye').removeClass("fa-eye");
                $('.eye').addClass("fa-eye-slash");
                input.attr("type", "text");
            } else {
                $('.eye').removeClass("fa-eye-slash");
                $('.eye').addClass("fa-eye");
                input.attr("type", "password");
            }
        });
</script>


