
@{
    ViewBag.Title = "İlan Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
    jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
    var countries = db.countries.ToList();
    var jobType = db.job_type.ToList();
    var businessDepartments = db.business_departments.ToList();
}
@model jobFinding_Akdeniz.Models.job_post

<div class="user-login">
    <div class="container">
        <div class="cd-form">
            <h2>İlan Düzenleme</h2>
        </div>
        @using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { name = "postEdit" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.jobPostId)
            <div class="form-group cd-form">
                <label class="form-group">İlan Başlığı:</label>
                @Html.TextBoxFor(x => x.jobPostTitle, new { @class = "form-control", placeholder = "Adınız", required = "required" })
            </div>
            <div class="form-group cd-form">
                <label class="form-group"> Bitiş Tarihi:</label>
                <div class="controls" style="position: relative">
                    @Html.TextBoxFor(x => x.postEndedDay, new { @class = "form-control py-4", id = "datetimepicker4" })
                </div>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">Departman : </label>
                <select id="countrySelect" class="form-control" name="department">
                    @foreach (var item in businessDepartments)
                    {

                        <option value=@item.businessDepName @if (item.businessDepName == Model.department) { <text> selected="selected" </text> }>
                            @item.businessDepName
                        </option>

                    }
                </select>
            </div>
            <div class="form-group cd-form">
                <label class="form-group">Değiştirmek istediğiniz şehri seçiniz : </label>
                <select id="countrySelect" class="form-control" name="job_location.city">
                    @foreach (var item in countries)
                    {

                        <option value=@item.countryName @if (item.countryName == Model.job_location.city) { <text> selected="selected" </text> }>
                            @item.countryName
                        </option>

                    }
                </select>
            </div>
            <div class="form-group cd-form">
                <label class="form-group"> Adres:</label>
                @Html.TextAreaFor(x => x.job_location.streetAddress, new { @class = "form-control py-4", placeholder = @Model.job_location.streetAddress, required = "required" })
            </div>
            <div class="form-group cd-form">
                <label class="form-group">Değiştirmek istediğiniz iş tipini seçiniz : </label>
                <select id="typeSelect" class="form-control" name="jobTypeID">
                    @foreach (var item in jobType)
                    {

                        <option value=@item.jobTypeId @if (item.jobTypeId == Model.jobTypeID) { <text> selected="selected" </text> }>
                            @item.jobTypeName
                        </option>

                    }
                </select>
            </div>
            <div class="form-group cd-form">
                <label class="form-group"> Açıklama:</label>
                @Html.TextAreaFor(x => x.jobDescription, new { @class = "form-control py-4", placeholder = @Model.jobDescription, required = "required" })
            </div>
            <div class="form-group cd-form">
                <label class="form-group"> Eğitim Düzeyi:</label>
                @*@Html.TextBoxFor(x => x.educationInfo, new  { @class= "hidden", id="result"})*@
                <input type="hidden" name="educationInfo" value="@Model.educationInfo" id="result" />
                 <select class="selectpicker selectMulti form-control" multiple title="Aşağıdaki seçeneklerden seçiniz..." id="multSelect">

                    <option value="Ön Lisans(Mezun)">Ön Lisans(Mezun)</option>
                    <option>Üniversite(Öğrenci)</option>
                    <option>Üniversite(Mezun)</option>
                    <option>Yüksek Lisans(Öğrenci)</option>
                    <option>Yüksek Lisans(Mezun)</option>
                    <option>Doktora(Öğrenci)</option>
                    <option>Doktora(Mezun)</option>

                </select>
            </div>
            <div class="form-group cd-form">
                <label class="form-group"> Askerlik Durumu: </label>
                @Html.TextAreaFor(x => x.militaryStiation, new { @class = "form-control py-4", placeholder = @Model.militaryStiation, required = "required" })

            </div>
            <div class="form-group cd-form">
                <label class="form-group"> Deneyim Durumu: </label>
                @Html.TextAreaFor(x => x.experienceStatus, new { @class = "form-control py-4", placeholder = @Model.experienceStatus, required = "required" })

            </div>
            <div class="form-group text-danger small">
                @ViewBag.Warning
            </div>
            <div class="form-group cd-form">
                <input type="submit" value="Düzenle" class="form-control uni-button-orange" />
            </div>
        }


    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            viewMode: 'days',
            format: 'DD/MM/YYYY',
            locale: 'tr',
            minDate: moment()
        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.selectpicker').selectpicker('refresh')
        $("#multSelect").change(function () {
            var selMulti = $.map($("#multSelect option:selected"), function (el, i) {
                return $(el).text();
            });
            $("#result").val(selMulti.join(", "));
        });
    });
    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return dt;
    }
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
        $('.selectpicker').selectpicker('mobile');
    }
</script>