
@{
    ViewBag.Title = "Akademisyen Arama";
    Layout = "~/Views/Shared/_Layout.cshtml";
    jobFinding_Akdeniz.Models.DBEntities db = new jobFinding_Akdeniz.Models.DBEntities();
    var languages = db.languages.ToList();
    var departments = db.departments.ToList();
    var bDepartment = db.business_stream.ToList();
    var universities = db.universities.ToList();

}


<div class="user-login">
    <div class="container">
        <div class="cd-form">
            <h2>Akademisyen Arama</h2>
            <label class="small form-group">İstediğiniz özellikleri seçerek listeye ulaşabilirsiniz.</label>
            <label class="small form-group">* ile işaretli alanlar zorunludur.</label>
        </div>
        @using (Html.BeginForm("ResultTeacherEmployee", "Company", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group cd-form">
                <label class="form-group">Ünvan:</label>
                <select class="form-control" name="degree">
                    <option class="text-muted" disabled selected>Ünvan Seçiniz:</option>
                    <option value="Öğr.Gör.">Öğretim Görevlisi</option>
                    <option value="Arş.Gör.">Araştırma Görevlisi</option>
                    <option value="Arş.Gör.Dr.">Araştırma Görevlisi Doktor</option>
                    <option value="Dr.Öğr.Üyesi">Doktor Öğretim Üyesi</option>
                    <option value="Doç.">Doçent </option>
                    <option value="Doç.Dr."> Doçent Doktor </option>
                    <option value="Prof."> Profesör  </option>

                </select>

            </div> 
            <div class="form-group cd-form">
                <label class="form-group"> *Bölümü:</label>
                <select class="form-control" name="department" required>
                    <option class="text-muted" disabled selected>Bölüm Seçiniz:</option>
                    @foreach (var item in departments)
                    {
                        <option value="@item.departmentsId">@item.departmentName</option>
                    }
                </select>
            </div>
            @*<div class="form-group">
                <label class="form-group">Çalıştığı Üniversite:</label>
                <select class="form-control" name="universityId">
                    <option class="text-muted" disabled selected>Üniversite Seçiniz:</option>
                    @foreach (var item in universities)
                    {
                        <option value="@item.universityId">@item.universityName</option>
                    }
                </select>
            </div>*@
            <div class="form-group cd-form">
                <label class="form-group"> Yabancı Dil:</label>
                <select class="form-control" name="languageID" >
                    <option class="text-muted" disabled selected>Dil Seçiniz:</option>
                    @foreach (var item in languages)
                    {
                        <option value="@item.languageId">@item.languageName</option>
                    }
                </select>
            </div>
            <div class="form-group text-danger small">
                @ViewBag.Warning
            </div>
            <div class="form-group cd-form">
                <input type="submit" value="Ara" class="form-control uni-button-orange" />
            </div>
        }


    </div>
</div>



